--
-- PostgreSQL database dump
--

\restrict 08RDwpY72fydQVCopjWQCNddSANHjohtlUbV8j6Uu0ecFAonosr5ocwlWl4XRcY

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: campamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campamentos (id, nombre) FROM stdin;
1	Campamento Principal
2	Playa Norte
3	Playa Sur
4	Zona Central
\.


--
-- Data for Name: especies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.especies (id, nombre_comun, nombre_cientifico) FROM stdin;
1	caguama	Cc
2	blanca	Cm
3	Tortuga Verde	Chelonia mydas
4	Tortuga Carey	Eretmochelys imbricata
5	Tortuga Blanca	Dermochelys coriacea
6	Tortuga Boba	Caretta caretta
\.


--
-- Data for Name: personal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.personal (id, nombre_completo, rol, email, password_hash, activo, apellido) FROM stdin;
1	uzli torres	voluntario	200300655@ucaribe.edu.mx	$2b$12$U2PVsrRNpyzY/z936k5MvOKorhlZ6F0AgWeTojouPW3ZOGEXQZVEi	t	torres
2	carlos trejo	coordinador	calicampe@gmail.com	$2b$12$Uv724ivVt1dz0hr.zPQT0O0d/YUcVIOfyODk0knZsE/Tnk85X3A6G	t	trejo
\.


--
-- Data for Name: tortugas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tortugas (id, marca_principal, especie_id) FROM stdin;
1	T001	1
2	T002	2
3	T003	3
4	T004	4
\.


--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: condiciones_ambientales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.condiciones_ambientales (id, evento_id, temperatura_arena_nido_c, humedad_arena_porcentaje, fase_lunar) FROM stdin;
\.


--
-- Data for Name: estado_zona; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estado_zona (id, descripcion) FROM stdin;
1	Inundado
2	Rocas
3	Vegetaci├│n
4	Basura
5	Camastros
6	Normal
7	Talud
8	Compactado
9	Hu├®spedes
10	Derrumbe
11	Otros
\.


--
-- Data for Name: estado_zona_evento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estado_zona_evento (id, evento_id, estado_zona_id, descripcion_adicional) FROM stdin;
\.


--
-- Data for Name: nidos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nidos (id, evento_anidacion_id, numero_huevos_recolectados, trasladado_a_corral, fecha_hora_traslado, identificador_en_corral, fecha_probable_eclosion, temperatura_media_corral_c, humedad_media_corral_porcentaje, observaciones_corral) FROM stdin;
1	4	0	f	\N	\N	\N	\N	\N	\N
2	5	0	f	\N	\N	\N	\N	\N	\N
3	6	0	f	\N	\N	\N	\N	\N	\N
4	7	0	f	\N	\N	\N	\N	\N	\N
5	8	0	f	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: exhumaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exhumaciones (id, nido_id, fecha_hora_exhumacion, crias_vivas_liberadas, crias_muertas_en_nido, crias_deformes, huevos_no_eclosionados, comentarios) FROM stdin;
\.


--
-- Data for Name: observaciones_tortuga; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.observaciones_tortuga (id, evento_id, largo_caparazon_cm, ancho_caparazon_cm, se_coloco_marca_nueva, se_remarco, path_fotos) FROM stdin;
\.


--
-- Name: campamentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.campamentos_id_seq', 4, true);


--
-- Name: condiciones_ambientales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.condiciones_ambientales_id_seq', 1, false);


--
-- Name: especies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.especies_id_seq', 6, true);


--
-- Name: estado_zona_evento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estado_zona_evento_id_seq', 1, false);


--
-- Name: estado_zona_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estado_zona_id_seq', 11, true);


--
-- Name: eventos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_id_seq', 8, true);


--
-- Name: exhumaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exhumaciones_id_seq', 1, false);


--
-- Name: nidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.nidos_id_seq', 5, true);


--
-- Name: observaciones_tortuga_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.observaciones_tortuga_id_seq', 1, false);


--
-- Name: personal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personal_id_seq', 2, true);


--
-- Name: tortugas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tortugas_id_seq', 4, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 08RDwpY72fydQVCopjWQCNddSANHjohtlUbV8j6Uu0ecFAonosr5ocwlWl4XRcY

